* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************************************************/
/* TAG */
/********************************************************************/
body{
    background-color: black;
    color: #DCDCDC;
    font: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    height: 45px;
    padding-right: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header button{
    background-color: #232427;
    color: #DCDCDC;
    padding: 5px 10px;
    border-radius: 6px;
}

main{
    height: calc(100vh - 45px - 54px);
    display: flex;    
    overflow: hidden;
}

footer{
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232427;
}

a{
    color: #DCDCDC;
    text-decoration: none;
}


/********************************************************************/
/*  */
/********************************************************************/
#number-participant{
    font-size: 10px;
    position: absolute;
    top: 0%;
}

#mini-arrow{
    font-size: 10px;
    position: absolute;
    bottom: 0;
}

#flavio{
    transform: scale(1.2);
    position: relative;
    top: -19px;
}

#florian{
    transform: scale(1.2);
}

#clelia{
    transform: scale(1.2);
}

/********************************************************************/
/*  */
/********************************************************************/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* MAIN */
.user-container{
    height: calc(100% - 45px);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.user{
    border: 4PX solid black;
    width: calc(100% / 5 - 30px);
    max-width: 300px;
    min-width: 250px;
    min-height: 200px;
    max-height: 250px;
    height: calc(100% / 4);
    flex-shrink: 0;
    position: relative;
}


.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user .label{
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.404);
}

.user .label i::after{
    position: absolute;
    content: "/";
    color: red;
    font-size: 29px;
    font-weight: bold;
    left: 7px;
    bottom: -4px;
}

.user.florian{
    border: 4PX solid yellow;
}

.pagination{
    /* background-color: #232427; */
    position: absolute;
    top: 50%;
    padding: 14px 8px;
    text-align: center;
    transform: translateY(-50%);
}

.pagination a{
    display: block;
    color: #DCDCDC;
}


.pagination.right{
    right: 0;
}

.pagination.right i{
    color: #56C7FF;
}

.pagination i{
    font-size: 20px;
}


.user.flavio,
.user.florian,
.user.clelia{
    overflow: hidden;
}




/* FOOTER */
.icon-row{
    text-align: center;
    position: relative;
}

.arrow-menu{
    vertical-align: center;
    height: 100%;
}

.float-left{
    float: left;
}

.btn{
    padding: 0 14px;
    font-size: 15px;
}

.btn .float-left .icon-row{
    font-size: 20px;
}

.arrow-menu.float-left{
    position: relative;
    top: 50%;
    transform: translate(60%, 50%);
    color: #DCDCDC;
}

.btn.end-meeting{
    height: 100%;
    color: #EE756E;
    background-color: #4B4C4F;
}

.end-meeting-container{
    line-height: 54px;
}